body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}


form label {
    display: block;
    margin-top: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    padding: 10px 15px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #4cae4c;
}

canvas {
    max-width: 1000px; /* Atur lebar maksimum */
    max-height: 500px; /* Atur tinggi maksimum */
    width: 100%; /* Agar tetap responsif */
    height: auto; /* Tinggi menyesuaikan */
}

/* Gaya dasar tabel */
.table_instyle {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Gaya header tabel */
.table_instyle thead {
    background-color: #051d35;
    color: #ffffff;
    font-weight: bold;
}

.table_instyle thead th {
    padding: 12px;
    text-align: center;
    border-right: 1px solid #dcdcdc; /* Garis antar kolom */
}

/* Gaya sel tabel */
.table_instyle tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: background-color 0.3s ease-in-out;
}

.table_instyle td {
    padding: 12px;
    border-right: 1px solid #dcdcdc; /* Garis antar kolom */
}

/* Hapus garis kanan terakhir agar tidak ada double border */
.table_instyle thead th:last-child,
.table_instyle td:last-child {
    border-right: none;
}

/* Efek hover pada baris tabel */
.table_instyle tbody tr:hover {
    background-color: #f4f4f4;
}


/* Gaya untuk input pencarian */
.search-box {
    padding: 8px 12px;
    font-size: 16px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

.search-box:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}


.navbar {
    background-color: #051d35;
}

#sidebar {
    background-color: #051d35;
}